extends layout
block content
    script. 
        function addmessage(router){
            var userId=getCookie("userId")
            var message={
                userid:userId,
                message:document.getElementById("meg").value,
                router:router
            }
            $.ajax({
                    type: "POST",
                    url: '/message/'+router+'/add',
                    contentType: "application/json",
                    data:JSON.stringify(message),
                    success:function(data){
                       location.reload();
                    },
                    error: function (request, status, error) {
                        console.log(error);
                        console.log(status);
                        }
              
             })
        }

                            
            
    .container
        .row
            .col-md-12
                .card(onclick='location.href='+"'/users/uploadform/"+form.router+"'")
                    .card-content
                        h1.card-title=form.title
                        p=form.description
        .row
            .col-md-12
                .card
                    .card-content
                        table.highlight.responsive-table
                            thead
                                tr
                                    th Content
                                    th User
                            tbody#message
                                if (!form.message)
                                    tr
                                        td Empty...
                                else
                                    each mes in form.message
                                        tr
                                            td=mes.meg
                                            td(style='width:50px;height:50px')
                                                if (!mes.provider)
                                                    if(mes.picture.length == 0)
                                                        img(src="/images/user.svg",style='width:40px')
                                                    else
                                                        img(src='/user/'+mes.picture,style='width:50px')
                                                
                                                else 
                                                    img(src=mes.picture,style='width:50px')
                                                    
                                    
        .row
            .col-md-12
                    .card
                        .card-content
                            span.card-title Say Something...
                            .row(style='display:flex;')
                                div(style='width:100px')
                                    img(src="/images/user.svg",style='width:100%',id='photo')
                                .input-field.col-md-8(style='margin-left:auto')
                                    input#meg.black-text.validate(type='text')
                                    label.blue-grey-text.text-darken-3(for='message') message
                            .row
                                a.m-auto.waves-effect.waves-light.btn-large(onclick="addmessage("+router+")")
                                    i.material-icons.right message
                                    | Add
    script.  
        if(getCookie("userPhoto").indexOf("https") == 0){
            document.getElementById("photo").src=getCookie("userPhoto")
        }else if(getCookie("userPhoto")){
            document.getElementById("photo").src='/user/'+getCookie("userPhoto")
        }
        
                
