block tab
    #tab.col.s12
        ul.tabs.tabs-fixed-width.z-depth-2.amber.lighten-3
            li.tab.col.s3.waves-effect.waves-light.btn
                a(onclick='edit()') 
                    i.material-icons edit
                    |edit
            li.tab.col.s3.waves-effect.waves-light.btn
                a(onclick='sub()')
                    i.material-icons visibility
                    |preview
            li.tab.col.s3.waves-effect.waves-light.btn
                a(onclick='responses()')
                    i.material-icons assignment
                    |responses
            li.tab.col.s3.waves-effect.waves-light.btn.modal-trigger
                a(href='#share',onclick="share();return false;")
                    i.material-icons more_vert
                    |share
        #share.modal
            .modal-content
                h1 Share it!
                .input-field
                    input#address.validate.black-text(type='text')
                    label(class='active',for='address') Address
                    a.waves-effect.waves-light.btn(onclick='copy()') Copy

                
            .modal-footer
                a.waves-effect.waves-light.btn(onclick='social("qr")') QRCODE
                a.waves-effect.waves-light.btn(onclick='social("fb")') Facebook
                a.waves-effect.waves-light.btn(onclick='social("twitter")') Twitter
                a.modal-action.modal-close.waves-effect.waves-green.btn-flat(onclick='location.reload();') Close
                        
    script.   
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
            var elem = document.querySelectorAll('.fixed-action-btn');
            var instance = M.FloatingActionButton.init(elem);
            var date= document.querySelectorAll('.datepicker');
            M.Datepicker.init(date);
            var tooltips = document.querySelectorAll('.tooltipped');
            var tool = M.Tooltip.init(tooltips);
            var tabs = document.querySelectorAll('.tabs');
            var tab=M.Tabs.init(tabs)
            var modal = document.querySelectorAll('.modal');
            var share = M.Modal.init(modal);
           
        });
        function edit(){
            var router=location.pathname
            var arrRouter = router.split("/");
            window.location.replace("/users/form/"+arrRouter[3])

        }
        function sub(){
            var router=location.pathname
            var arrRouter = router.split("/");
            if(window.submit){ 
                window.location.replace("/users/uploadform/"+arrRouter[3])
                submit()
            }else{
                window.location.replace("/users/uploadform/"+arrRouter[3])
            }
        }
        function responses(){
                var router=location.pathname
                var arrRouter = router.split("/");
            window.location.replace("/data/show/"+arrRouter[3])
        }
        function share(){
            var router=location.pathname
            var arrRouter = router.split("/");
            document.getElementById('address').value=location.protocol+location.hostname+"/users/uploadform/"+arrRouter[3]
            M.updateTextFields();
        }
        document.getElementById('address').addEventListener("change",()=>share(),false)
        function copy(){
            var address=document.getElementById("address")
            address.select()
            document.execCommand("Copy")
            var toastHTML = '<h6>Copy!</h6><button class="btn-flat toast-action"><i class="material-icons">close</i></button>';
            M.toast({html: toastHTML,classes:'light-blue accent-4 text-darken-2 z-depth-4'})
        }
        function social(social){
            var router=location.pathname
            var arrRouter = router.split("/");
            var url=location.protocol+"//"+location.hostname+"/users/uploadform/"+arrRouter[3]
            if(social==='fb'){
               window.open('https://www.facebook.com/sharer/sharer.php?u='+url)
            }else if(social==='twitter'){
                var decode=encodeURIComponent(url)
                window.open('http://twitter.com/home/?status='+url)
            }else if(social==='qr'){
                var decode=encodeURIComponent(url)
                window.open('http://chart.apis.google.com/chart?cht=qr&chl='+decode+'&chs=120x120')

            }
            
        }

        
    